<style>
p, button, a, body {
  font-size: 100%;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  color: #111111;
  font-weight: 500;
  line-height: 1.2em;
  margin: 40px 0 10px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
p,
ul,
ol {
  font-weight: normal;
  margin-bottom: 10px;
}
ul li,
ol li {
  margin-left: 5px;
  list-style-position: inside;
}
img.logo {
  width: 80px;
  height: 80px;
  margin-bottom: -20px;
  max-width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
body {
  background-color: #74bd43;
}
.header {
  background-color: #f63440;
  text-align: center;
}
.content {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.content-inner {
  padding: 40px 20px 20px 20px;
  max-width: 800px;
  margin: 0 auto;
}
.content a {
  text-decoration: none;
  color: #42a5f5;
}
.footer {
  background-color: #74bd43;
  text-align: center;
  padding: 20px;
}
.footer p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
}
.footer a {
  color: rgba(255, 255, 255, 0.75) !important;
}
.button {
  text-align: center;
}
.button a {
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: #f63440;
  text-align: center;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 20px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.right {
  float: right;
}
.label-small {
  background-color: #eee;
  padding: 2.5px 5px;
  font-size: 0.8rem;
  position: relative;
  top: -1.5px;
  border-radius: 4px;
}
.small-title {
  font-size: 20px;
  margin-top: 5px;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
</style>
